.country-page {
  padding: 70px 0;

  button {
    border: none;
    background: white;
    padding: 10px 28px;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
    display: flex;
    gap: 0.8rem;
    align-items: center;
    cursor: pointer;
    margin-bottom: 70px;
  }
}

.country-detail {
  display: flex;
  gap: 100px;
  &__image {
    width: 100%;
    max-width: 520px;
    height: 356px;
  }
}

.country-detail__content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 0;
  h5 {
    font-size: 28px;
  }
  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;

    .col {
      display: flex;
      flex-direction: column;
      gap: 4px;
      p {
        span {
          font-weight: 700;
        }
      }
    }
  }
  div:last-child {
    span {
      font-weight: 700;
    }
  }
}

.border-countries {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-align: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  margin: 0 6px 12px;
  text-decoration: none;
  color: unset;
}

@media (max-width: 768px) {
  .country-detail {
    flex-direction: column;
    gap: unset;
    &__image {
      background-size: contain !important;
      max-width: unset;
    }
  }
}
